extends layout
block content
    header(class="w-full sticky top-0 left-0 p-5 text-white backdrop-blur-lg shadow-xl bg-black/50 z-10")
      nav(class="mx-auto max-w-screen-lg flex justify-between items-center gap-4")
        h1(class="text-sm font-medium") WalenCiaga
        div(class="flex gap-6 text-sm font-light mx-auto")
          a(href="/") Home
          a(href="/about") About
          a(href="/products") Products
          a(href="/contact") Contact
        div(class="text-sm text-nowrap") 1 800-123-4567
        button(class="button-base", onclick="navigateRegister()") Get Started

    section(class="relative w-full h-64 bg-gray-300 text-black overflow-hidden")
      img(src="/images/background.png", alt="Banner Image", class="w-full h-full object-cover")
      div(class="absolute top-1/2 left-0 ml-10")
        h2(class="text-[4.5rem] font-extralight text-white") Products

    section(class="bg-white text-black py-4")
      div(class="max-w-screen-lg mx-auto mb-5")
        nav(class="text-sm text-gray-600")
          a(href="./../../index.html", class="hover:text-black") Home
          |  &gt;

      //- Product Filters and Sorting
      div(class="max-w-screen-lg mx-auto flex justify-between items-center mb-5")
        div(class="flex space-x-4")
          button(class="px-4 py-2 bg-gray-100 text-gray-600 rounded") Technology
          button(class="px-4 py-2 bg-gray-100 text-gray-600 rounded") Product
          button(class="px-4 py-2 bg-gray-100 text-gray-600 rounded") Price
        select(class="px-4 py-2 border rounded text-gray-600")
          option Default
          option Price: Low to High
          option Price: High to Low

      section#product-list(class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8")
        //- Template div to make TailwindCSS work
        each product in products.docs
          a(href='/products/' + product.id, class="border rounded-lg p-5 shadow-sm text-center")
            h3(class="text-lg font-medium mb-2")= product.name
            p(class="text-gray-600 mb-2")= product.description
            img(src=product.imageUrl, alt="Product Image", class="w-32 h-32 mx-auto mb-4")
            div(class="price-tag text-xl font-semibold text-gray-800 mb-2")= product.price || 0
      div(class="max-w-screen-md mx-auto mt-10")
        button(id="load-more-btn", class="px-4 w-full py-2 bg-gray-100 text-gray-600 rounded", onclick="onClickLoadMore()") Load More

    footer(class="text-center py-5 text-sm font-light text-gray-600 mt-0")
      | &copy; 2024 WalenCiaga. All rights reserved.

    script(src="/javascripts/default.js")
    script(src="/javascripts/products.js")
    script.
      renderPriceTag();
